{% extends "nav.html" %} {% block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth_style.css') }}"> {% endblock%} {% block title %}
<title>Login | Dashboard</title>
{% endblock %} {% block content %}
<h1>Login</h1>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for message in messages %}
<div class="{{ message[0] }}">
    {{ message[1] }}
</div>
{% endfor %} {% endif %} {% endwith %}

<form method="POST" action="/login" class="login-form">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button>Login</button>
</form>
{% endblock %}