<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Green: The ultimate farmers hub</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">

</head>


<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="index.html"><img src="img/logo3.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<div class="dropdown show">
					<a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-search"></i>
					</a>
					<form action="{{url_for('farms.indexsearch')}}" method="POST">
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<div class="dropdown-item input-group">
							<div class="form-outline">
							  <input type="search"  name="searchtext" id="form1" class="form-control" />
							  <label class="form-label" for="form1">Search</label>
							</div>
							<div><input class="form-check-input" type="checkbox" name="productsearch" value="Mango" id="item-check3">
								<label class="form-check-label" for="item-check3"> Search Products </label></div>
							<div><input class="form-check-input" type="checkbox" name="farmsearch" value="Mango" id="item-check3">
								<label class="form-check-label" for="item-check3"> Search Farms </label></div>
							<button type="submit" class="btn btn-secondary">
							  <i class="fas fa-search"></i>
							</button>
						  </div>
					</div>
					</form>
				  </div>
			</li>
			{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for message in messages %}
<div class="{{ message[0] }}">
    {{ message[1] }}
</div>
{% endfor %} {% endif %} {% endwith %}
			<li class="nav-item">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about.html">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="catalogue.html">Catalogue</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="products.html">Items</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="farm-portal.html">Farm Owners</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="useful-links.html">Useful Links</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!--Product info-->
<div class="farm container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <img src="img/strawberry.jpg" class="img-fluid">
        </div>
        <div class="col-md-12 col-lg-6">
            <h2 id=prod-info-name>Product Name</h2>
            <p class="lead">Available in: <span id="prod-info-farms"></span></p>
            <p class="lead">Description: <span id="prod-info-desc"></span></p>

        </div>
       
    </div>
</div>

<!--- Footer -->
<footer>
    <div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="img/grey.png" width="60" height="58">
            <hr class="light">
            <p>+965-12345678</p>
            <p>email@email.com</p>
            <P>City, dijqwid, 2394-</P>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Footer Info</h5>
            <hr class="light">
            <p>Info-Info</p>
            <p>Info-Info</p>
            <p>Info-Info</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Footer Info</h5>
            <hr class="light">
            <p>Info-Info</p>
            <p>Info-Info</p>
            <p>Info-Info</p>
        </div>
        <div class="col-12">
            <hr class="light-100">
            <h5>&copy; Green.com</h5>
        </div>
    </div>
    </div>
    </footer>
    
    
    
    </body>
    </html>