{% extends 'base.html' %}

{% block main %}
    <main role="main">
      <div class="container">
        <div class="card" id="item-container">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <img class="card-img-top product-img" src="{{ url_for('download_file', filename='product-'+product[0]|string+'.jpeg') }}" alt="Card image cap">
                </div>
                <div class="col-sm">
                  <h4 class="card-title">{{ product[1] }}</h4>
                  <p class="card-text">{{ product[2] }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <h5>Available from</h5>
                  {% for farm in farms %}
                    <a href="/farms/{{ farm[2] }}" class="btn btn-primary">{{ farm[1] }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; 2021 helep0d &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    </main>
{% endblock %}
